{% block body %}
    {% block title %}
        <h1>{{ title }}</h1>
    {% endblock title %}
    <div class="row-fluid">
        {% block form %}
            {{ form(form) }}
        {% endblock form %}
    </div>
{% endblock body %}

{% block js %}
    {{ form_javascript(form) }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#{{ form.vars.attr.id }}').submit(function(){
                $.ajax({
                    url:     $(this).prop('action'),
                    type:    'post',
                    data:    $(this).serialize(),
                    success: function() {
                        $.colorbox.close();
                        window.location.reload();
                    }
                });

                return false;
            });
        });
    </script>
{% endblock js %}