{% extends_admingenerated "NitraProductBundle:ProductEdit:form.html.twig" %}

{% block form_fieldset_Tabs_data_content %}
    {{ parent() }}
    {% if form.category is defined %}
        {{ form_row(form.category) }}
    {% endif %}
    {% if form.brand is defined %}
        {{ form_row(form.brand) }}
    {% endif %}
    {% if form.stores is defined %}
        {{ form_row(form.stores) }}
    {% endif %}
{% endblock form_fieldset_Tabs_data_content %}