{% extends_admingenerated "NitraProductBundle:ProductEdit:index.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/nitraproduct/css/product.less'  %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}