{%- trans_default_domain "NitraProductBundleModel" -%}

{% spaceless %}
{% if model and (model.products is not empty) %}
    <div class="list_results">
        <table class="table">
            <thead>
                <th>{{ 'fields.products.subfields.name'|trans }}</th>
                <th>{{ 'fields.products.subfields.price'|trans }}</th>
                <th>{{ 'fields.products.subfields.activity'|trans }}</th>
            </thead>
            <tbody>
                {% for product in model.products %}
                    <tr>
                        <td>
                            {{- product.name }}
                        </td>
                        <td>
                            {{- product.storePrice[storeId].price|default(0) -}}
                        </td>
                        <td class="td_boolean">
                            {% if product.isActive %}
                                <i class="icon_round green i_save"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endspaceless %}