{% extends_admingenerated "NitraProductBundle:ParameterList:row.html.twig" %}

{% trans_default_domain "NitraProductBundleParameter" %}

{% block list_td_column_valueType %}
    {{ ('fields.valueType.choices.' ~ Parameter.valueType)|trans }}
{% endblock list_td_column_valueType %}