{% extends_admingenerated "NitraProductBundle:VendorList:row.html.twig" %}

{% block list_td_column_image %}
    {% if Vendor.image is not empty %}
        <img src="{{ Vendor.image }}" style="max-height: 100px; max-width:100px;">
    {% endif %}
{% endblock list_td_column_image %}