{% extends_admingenerated "NitraProductBundle:ProductList:row.html.twig" %}

{% block list_td_column_image -%}
    {% if Product.image|trim is not empty %}
        <img src="{{ Product.image }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
{%- endblock list_td_column_image %}