{% extends_admingenerated "NitraProductBundle:BadgeEdit:index.html.twig" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var $sortOrderRow = $('#{{ form.sortOrderOnMainPage.vars.id }}').parents('.form_row');
            var isInMainPageVal = $('#{{ form.isInMainPage.vars.id }}').val();

            if (isInMainPageVal == '0') {
                $sortOrderRow.css('display', 'none');
            }

            $('#{{ form.isInMainPage.vars.id }}').on('change', function() {
                if ($(this).val() == '1') {
                    $sortOrderRow.slideDown(300);
                } else {
                    $sortOrderRow.slideUp(300);
                }
            });
        });
    </script>
{% endblock javascript_head %}