#colorbox                               { 
    #cke_model_description              { max-width: 380px; }
    .help-block                         { display: block; max-width: 20em !important; }
    .has_error:after                    { color: #c80808; content: " *"; }
    .lang_tabs, .lang_tab_content       { width: 380px; }
    #model_seo                          {
        label                           { width: 23%; margin-left: 5px; text-align: left; }
        textarea                        { min-width: 16.5em; }
    }
    .files                              { width: 358px; }                   
}
.edit_model                             { margin: 0.5em 0 0.5em 1em !important; }
