{% block genemu_jqueryselect2_hidden_javascript %}
    <script type="text/javascript">
        $(document).ready(function($) {
            var field = $('#{{ id }}');
            var configs = {};
            {% for key, value in configs %}
                {% if 'function' in value %}
                    configs["{{ key }}"] = {{ value|raw }};
                {% elseif (value is iterable) or (value is not string) %}
                    configs["{{ key }}"] = {{ value|json_encode|raw }};
                {% else %}
                    configs["{{ key }}"] = "{{ value|trans({}, translation_domain) }}";
                {% endif %}
            {% endfor %}
            field.select2(configs);
        });
    </script>
{% endblock %}

{% block genemu_jqueryautocomplete_javascript %}
{% spaceless %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var $autocompleter = $('#{{ id }}');
            var $configs = {{ configs|json_encode|raw }};

            {% if route_name %}
                $configs.source = function(request, response) {
                    $.getJSON('{{ path(route_name) }}', {
                        term: request.term
                    }, response);
                };
            {% else %}
                {% if (configs.limit is defined) and (configs.limit != 0) %}
                    var sourceArray = {{ suggestions|json_encode|raw }};
                    $configs.source = function(request, response) {
                        // filter array to only entries you want to display limited to 10
                        var outputArray = [];
                        for (var i = 0; i < sourceArray.length; i++ ) {
                            if (sourceArray[i].toLowerCase().match(request.term.toLowerCase())) {
                                outputArray.push(sourceArray[i]);
                            }
                        }
                        response(outputArray.slice(0, {{ configs.limit }}));
                    }
                {% else %}
                    $configs.source = {{ suggestions|json_encode|raw }};
                {% endif %}
            {% endif %}

            $autocompleter.autocomplete($configs);
            
            {% if configs.minLength is defined and 0 == configs.minLength %}
                $autocompleter.focus(function() {
                    $(this).autocomplete("search", "");
                });
            {% endif %}
        });
    </script>
{% endspaceless %}
{% endblock genemu_jqueryautocomplete_javascript %}

{# Nitra дабл лист для массива #}
{% block nl_choice_double_list_row %}
{% spaceless %}
    {% set formType = 'double_list' %}
    {{ block('form_row') }}
{% endspaceless %}
{% endblock nl_choice_double_list_row %}

{% block nl_choice_double_list_widget %}
    <div id="{{ id ~ '_widget_container' }}" class="double-list">
        <div class="list-unselected dropdown open">
            <div class="double-list-label">{{ 'afe_double_list.unselected'|trans({}, 'AvocodeFormExtensions') }}</div>
            <ul id="{{ id }}_unselected" class="double-list-dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu"{% if unselected_styles %} style="{{ unselected_styles|raw }}"{% endif %}>
                {% for choice in choices if (choice is not selectedchoice(value)) %}
                    <li data-value="{{ choice.value }}">
                        <a tabindex="-1" href="#">{{ choice.label|trans({}, translation_domain) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="list-controls">
            <div class="double-list-label">&nbsp;</div>

            <div class="double-list-controls">
                <div class="btn-group btn-group-vertical">
                    <button type="button" class="btn btn-large unselect"><i class="icon-chevron-left icon-large"></i></button>
                    <button type="button" class="btn btn-large select"><i class="icon-chevron-right icon-large"></i></button>
                </div>
            </div>
        </div>
        <div class="list-selected dropdown open">
            <div class="double-list-label">{{ 'afe_double_list.selected'|trans({}, 'AvocodeFormExtensions') }}</div>
            <ul id="{{ id }}_selected" class="double-list-dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu"{% if selected_styles %} style="{{ selected_styles|raw }}"{% endif %}>
                {% for choice in choices if (choice is selectedchoice(value)) %}
                    <li data-value="{{ choice.value }}">
                        <a tabindex="-1" href="#">{{ choice.label|trans({}, translation_domain) }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ block('choice_widget') }}
    </div>
{% endblock nl_choice_double_list_widget %}

{% block nl_choice_double_list_stylesheet %}
    {% stylesheets 'bundles/avocodeformextensions/double-list/css/double-list.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock nl_choice_double_list_stylesheet %}

{% block nl_choice_double_list_javascript %}
    <script type="text/javascript">
        $(document).ready(function($) {
            $('#{{ id }}').doubleList();
        });
    </script>
{% endblock nl_choice_double_list_javascript %}