{% trans_default_domain "NitraProductBundleProduct" %}

{% block model_products_widget %}
{% block first_row %}
    <tr class="item">
        {% block first_row_content %}
            {% block form_image %}
                {% if form.image is defined %}
                    <td>
                        {{ form_widget(form.image) }}
                    </td>
            {% endif %}
            {% endblock form_image %}
            {% block form_name %}
                {% if form.name is defined %}
                    <td>
                        {{ form_widget(form.name) }}
                    </td>
                {% endif %}
            {% endblock form_name %}
            {% block form_article %}
                {% if form.article is defined %}
                    <td>
                        {{ form_widget(form.article) }}
                    </td>
                {% endif %}
            {% endblock form_article %}
            {% block form_price %}
                {% if form.curentStorePrice is defined %}
                    <td>
                        {{ form_widget(form.curentStorePrice) }}
                    </td>
                {% endif %}
            {% endblock form_price %}
            {% block form_active %}
                {% if form.isActive is defined %}
                    <td>
                        {{ form_widget(form.isActive) }}
                    </td>
                {% endif %}
            {% endblock form_active %}
            {% block form_badge %}
                {% if form.badge is defined %}
                    <td>
                        {{ form_widget(form.badge) }}
                    </td>
                {% endif %}
            {% endblock form_badge %}
            {% block form_stock %}
                {% if form.stock is defined %}
                    <td>
                        {{ form_widget(form.stock) }}
                    </td>
                {% endif %}
            {% endblock form_stock %}
            {% block show_second_row_button %}
                <td>
                    <a href="#" class="link_icon_mini show_row_content"><i class="i_edit"></i></a>
                </td>
            {% endblock show_second_row_button %}
        {% endblock first_row_content %}
    </tr>
{% endblock first_row %}
{% block second_row %}
    <tr class="row_content footable-disabled" style="display: none;">
        {% block second_row_content %}
            <td colspan="8" style="display: none;">
                {% block form_images %}
                    {% if form.images is defined %}
                        {{ form_row(form.images) }}
                    {% endif %}
                {% endblock form_images %}
                {% block form_discount %}
                    {% if form.curentStoreDiscount is defined %}
                        {{ form_row(form.curentStoreDiscount) }}
                    {% endif %}
                {% endblock form_discount %}
                {% block form_fixed_price %}
                    {% if form.isFixedPrice is defined %}
                        {{ form_row(form.isFixedPrice) }}
                    {% endif %}
                {% endblock form_fixed_price %}
                {% block form_video %}
                    {% if form.videoRef is defined %}
                        {{ form_row(form.videoRef) }}
                    {% endif %}
                {% endblock form_video %}
                {% block form_seo %}
                    {% if form.seoInfo is defined %}
                        <div class="show_hidden_block">
                             <a href="#" class="link_icon show_hidden_content">
                                 <i class="i_edit"></i>{{- 'action.object.edit.label'|trans({}, 'Admingenerator') ~ ' ' ~ 'tabs.seo'|trans -}}
                             </a>
                             <div class="hidden_content" style="display: none;">
                                 {{ form_row(form.seoInfo) }}
                             </div>
                        </div>
                    {% endif %}
                {% endblock form_seo %}
                {% block form_accessories %}
                    {% if form.accessories is defined %}
                         <div class="show_hidden_block">
                            <a href="#" class="link_icon  show_hidden_content">
                                <i class="i_edit"></i>{{- 'action.object.edit.label'|trans({}, 'Admingenerator') ~ ' ' ~ 'tabs.accessories'|trans -}}</a>
                            </a>
                            <div class="hidden_content" style="display: none;">
                                {{ form_row(form.accessories) }}
                            </div>
                         </div>
                    {% endif %}
                {% endblock form_accessories %}
                {% block form_sizes %}
                    {% if form.width is defined or form.height is defined or form.length is defined or form.weight is defined %}
                        <div class="show_hidden_block">
                            <a href="#" class="link_icon show_hidden_content">
                                <i class="i_edit"></i>{{- 'action.object.edit.label'|trans({}, 'Admingenerator') ~ ' ' ~ 'tabs.size'|trans -}}
                            </a>
                            <div class="hidden_content" style="display: none;">
                                {% if form.width is defined %}
                                    {{ form_row(form.width) }}
                                {% endif %}
                                {% if form.height is defined %}
                                    {{ form_row(form.height) }}
                                {% endif %}
                                {% if form.length is defined %}
                                    {{ form_row(form.length) }}
                                {% endif %}
                                {% if form.weight is defined %}
                                    {{ form_row(form.weight) }}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock form_sizes %}
                {% block form_parameters %}
                    {% if form.parameters is defined %}
                        <div class="show_hidden_block">
                             <a href="#" class="link_icon show_hidden_content">
                                 <i class="i_edit"></i>{{- 'action.object.edit.label'|trans({}, 'Admingenerator') ~ ' ' ~ 'tabs.parameters'|trans -}}
                             </a>
                             <div class="hidden_content" style="display: none;">
                                 {{ form_row(form.parameters) }}
                             </div>
                        </div>
                    {% endif %}
                {% endblock form_parameters %}
                {{ form_rest(form) }}
            </td>
        {% endblock second_row_content %}
    </tr>
{% endblock second_row %}
{% endblock model_products_widget %}